html{
    position: relative;
    min-height: 100%;
}
body{
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-image: url("../images/fresh_snow.png");
    line-height: 200%;
    margin-bottom: 60px;
}

h5{
    color: #777777;
}

h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}

header{
    background-color: #f8f9fa;
    border-bottom: 1px solid #cacaca;
}

section{
    border: 1px solid #cacaca;
    background-color: #ffffff;
}

footer{
    text-align: center;
    background-color: #666666;
    color: #999999;
    border-top: 4px solid #4aaaa5;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

hr{
    border: 1px solid #cacaca;
}

.namebox{
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 24px;
    line-height: 64px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.boxlabel{
    position: relative;
    bottom: 40px;
    color: #ffffff;
    background-color: #4aaaa5;
}

.submitbutton{
    color: #ffffff;
    background-color: #4aaaa5;
}
